
<body>
  <div class="container">
    <div class="row">
    <div class="col">
    <!-- <div class="card" style="width: 18rem;">
        <img src="assets/images/icons8-batman-emoji.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{superInfo.name}}</h3>
          <h6 class="card-title">aka {{superInfo.aka}}</h6>
         
        </div>
        <ul class="list-group list-group-flush">
           <li class="list-group-item"> Description: {{superInfo.description}}</li>
          <li class="list-group-item">Powers: {{superInfo.powers}}</li>
          <li class="list-group-item">Weakness: {{superInfo.weakness}}</li>
          <li class="list-group-item">Appearance: {{superInfo.appearance}}</li>
        </ul>
        <div class="card-body">
          <span class="badge text-bg-primary">{{superInfo.gridRadios}}</span>

        </div>
        <button type="submit" class="btn btn-primary">Edit Super</button>
      </div>
      </div> -->

          <div class="card" style="width: 18rem;">
        <img src="assets/images/icons8-batman-emoji.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Batman</h3>
          <h6 class="card-title">aka Bruce Wayne</h6>
       
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Description: Billionaire vigilante</li>
          <li class="list-group-item">Powers: Super smart, rich, cool toys</li>
          <li class="list-group-item">Weakness: Loner, depressed</li>
          <li class="list-group-item">Appearance: Blue or black costume. Bat symbol.  Cape. Mask.</li>
        </ul>
        <div class="card-body">
          <span class="badge text-bg-primary">Superhero</span>

        </div>
        <button type="submit" class="btn btn-primary">Edit Super</button>
      </div>
      </div>
      </div>
      </div>

</body>